@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  font-family: "Roboto-Light";
  src: url("/fonts/Roboto/Roboto-Light.ttf");
  font-family: "Roboto-Bold";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
}
body {
  display: flex;
  flex-wrap: wrap;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  width: 100vw;
  height: 120px;
  background-color: white;
  display: flex;
  position: fixed;
  z-index: 100;
}
header img {
  padding-left: 8%;
}
.header-top {
  background-color: white;
  height: 35%;
  width: 82%;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 15px;
  padding-right: 7%;
}
header a {
  text-decoration: none;
  padding-left: 12px;
  font-size: 80%;
  font-family: "Roboto-Light", sans-serif;
  color: black;
}
.header-top-right {
  float: right;
  font-size: 70%;
}
header div a b {
  font-family: "Roboto-Regular", sans-serif;
}
.header-bottom {
  padding-top: 60px;
  font-size: 130%;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: bolder;
  padding-left: 3.2%;
  word-spacing: 32px;
}

.search-container {
  padding-top: 60px;
  padding-left: 10px;
  height: 90px;
  display: flex;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
}
.search-container:hover input {
  width: 200px;
}
.search-container input {
  width: 0;
  outline: none;
  border: none;
  transition: 400ms;
}

form {
  display: flex;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding-left: 150px;
  height: 30px;
}

a img {
  flex-direction: row;
  width: auto;
  height: 20px;
  padding-right: 25px;
}
.header-bottom-right {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  transition: 0.3s;
}
.header-bottom-right a img:hover {
  filter: brightness(0) saturate(100%) invert(15%) sepia(80%) saturate(6246%)
    hue-rotate(308deg) brightness(96%) contrast(96%);
}
.header-top a:hover {
  filter: brightness(0) saturate(100%) invert(15%) sepia(80%) saturate(6246%)
    hue-rotate(308deg) brightness(96%) contrast(96%);
}
.header-bottom a:hover {
  filter: brightness(0) saturate(100%) invert(15%) sepia(80%) saturate(6246%)
    hue-rotate(308deg) brightness(96%) contrast(96%);
}
.background-img {
  background-image: url("./telekomlogo/telekom2323.jpg");
  width: 100vw;
  height: 950px;
  background-size: 1920px auto;
  display: flex;
}
.more {
  border: 3px solid #e20074;
  width: auto;
  height: auto;
  position: absolute;
  bottom: 120px;
  left: 200px;
  border-radius: 10px;
  padding: 3px;
  font-size: larger;
  background-color: #e20074;
}
.more a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.thought {
  border: 3px solid #e20074;
  width: auto;
  height: 120px;
  position: fixed;
  right: 0px;
  bottom: 300px;
  background-color: #e20074;
  display: flex;
  z-index: 100;
}
.thought a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  padding: 7px;
  writing-mode: vertical-rl;
  align-items: center;
  justify-content: center;
  display: flex;
}
.mail-us {
  border: 3px solid #e20074;
  width: auto;
  height: auto;
  position: fixed;
  left: 20px;
  bottom: 30px;
  background-color: #e20074;
  display: flex;
  border-radius: 4px;
  z-index: 100;
}
.mail-us a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  padding: 7px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.section-one {
  background: linear-gradient(to bottom, white, gray);
  width: 100vw;
  height: 800px;
  flex-wrap: wrap;
  display: flex;
}
.section-left {
  border: 3px;
  width: 400px;
  height: 700px;
  margin-left: 160px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  font-family: "Roboto-regular", sans-serif;
  color: #e20074;
}
.mobile-phone {
  border: 3px;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 70px;
  border-radius: 10px;
  display: flex;
}
.mobile-phone:active {
  background-color: white;
}
.mobile-phone img {
  height: 50px;
  width: auto;
  padding-top: 10px;
  padding-left: 20px;
}
.tv {
  border: 3px;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 70px;
  border-radius: 10px;
  display: flex;
}
.tv:active {
  background-color: white;
}
.tv img {
  height: 50px;
  width: auto;
  padding-top: 10px;
  padding-left: 20px;
}
.laptop {
  border: 3px;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 70px;
  border-radius: 10px;
  display: flex;
}
.laptop:active {
  background-color: white;
}
.laptop img {
  height: 50px;
  width: auto;
  padding-top: 10px;
  padding-left: 20px;
}
.mobile-phone p {
  padding-top: 25px;
  padding-left: 70px;
  font-size: larger;
  font-weight: bold;
  color: rgb(66, 66, 66);
}
.tv p {
  padding-top: 25px;
  padding-left: 70px;
  font-size: larger;
  font-weight: bold;
  color: rgb(66, 66, 66);
}
.laptop p {
  padding-top: 25px;
  padding-left: 70px;
  font-size: larger;
  font-weight: bold;
  color: rgb(66, 66, 66);
}
.mobile-phone p:hover {
  color: black;
}
.tv p:hover {
  color: black;
}
.laptop p:hover {
  color: black;
}
.section-top {
  width: 1130px;
  height: 200px;
  margin-top: 60px;
  margin-left: 70px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.section-top .section-top1,
.section-top .section-top2,
.section-top .section-top3,
.section-top .section-top4,
.section-top .section-top-1 p {
  font-family: "Roboto-Regular", sans-serif;
  color: rgb(66, 66, 66);
  font-weight: bold;
  padding-top: 12px;
  padding-left: 20px;
}
.section-top img {
  height: auto;
  width: auto;
}
.section-top1 {
  width: 250px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  background-color: white;
  overflow: hidden;
}
.section-top2 {
  width: 250px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  background-color: white;
  overflow: hidden;
}
.section-top3 {
  width: 250px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  background-color: white;
  overflow: hidden;
}
.section-top4 {
  width: 250px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  background-color: white;
  overflow: hidden;
}
.section-top-1 {
  display: flex;
  padding-bottom: 50px;
  gap: 25px;
}
.section-top5 {
  width: 342px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  background-color: white;
  overflow: hidden;
}
.section-top6 {
  width: 342px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  background-color: white;
  overflow: hidden;
}
.section-top7 {
  width: 342px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  background-color: white;
  overflow: hidden;
}
.section-bottom {
  width: 1080px;
  height: 450px;
  display: flex;
  gap: 2%;
  position: relative;
  z-index: 2;
}
.section-bottom p {
  font-family: "Roboto-Light", sans-serif;
  color: rgb(54, 54, 54);
  padding-left: 30px;
  padding-top: 15px;
}
.section-bottom p span {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-weight: bold;
}
.section-bottom div img {
  width: 80%;
  height: auto;
  padding-left: 30px;
  padding-top: 15px;
  z-index: 10;
}
.section-bottom div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #e20074;
  transition: height 0.5s ease;
  z-index: 1;
  border-radius: 13px;
}
.section-bottom div:hover::after {
  height: 60%;
}
.section-bottom1 {
  width: 32%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.section-bottom2 {
  width: 32%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.section-bottom3 {
  width: 32%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.info-section {
  width: 100vw;
  height: 630px;
}
.info-section1 {
  width: 100%;
  height: 40%;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  padding-top: 30px;
  color: black;
  position: relative;
  z-index: 1;
}
.info-section1 a {
  text-decoration: none;
}
.info-section1 p {
  padding-top: 25px;
}
.info-section2 {
  width: 100%;
  height: 45%;
  background-color: #e20074;
  overflow: visible;
  position: relative;
  z-index: 1;
}
.info-section2 img {
  position: absolute;
  bottom: -10px;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
}
.info-section2-1 {
  float: right;
  width: 30%;
  height: 100%;
  margin-right: 20%;
  text-align: center;
  align-content: center;
  color: white;
  font-family: "Roboto-Regular", sans-serif;
}
.info-section2-1 p {
  padding-top: 20px;
  font-size: larger;
}
.info-section2-2 {
  float: right;
  padding: 10px;
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 15px;
  margin-top: 10%;
  margin-right: 5%;
}
.info-section2-2 a {
  color: black;
  font-family: "Roboto-Regular", sans-serif;
  text-decoration: none;
}
.info-section3 a img:hover {
  filter: brightness(0) saturate(100%) invert(15%) sepia(80%) saturate(6246%)
    hue-rotate(308deg) brightness(96%) contrast(96%);
}
.info-section3 {
  height: 15%;
  width: 100%;
  border: 3px solid;
  display: flex;
  gap: 100px;
}
.info-section3 img {
  height: 40%;
}
.info-section3 a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  align-content: center;
  padding-left: 60px;
  display: inline-flex;
  margin-top: 25px;
}
.footer {
  width: 100vw;
  height: 300px;
  background-color: black;
}
.footer1 {
  width: 85%;
  height: 50%;
  margin-left: 7%;
  font-family: "Roboto-Regular";
  text-decoration: none;
  display: flex;
}
.footer1 a {
  text-decoration: none;
  color: rgb(172, 172, 172);
  display: block;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: smaller;
}
.footer1 a:hover {
  color: white;
  font-size: 105%;
}
.footer1-1 {
  height: 100%;
  width: 10%;
}
.footer1-2 {
  width: 30%;
  height: 100%;
  margin-left: 25%;
}
.footer1-2 p {
  text-align: center;
  margin-top: 5%;
  color: white;
  font-family: "Roboto-Regular", sans-serif;
}
.footer1-2-1 img {
  height: 40px;
  width: auto;
  display: flex;
}
.footer1-2-1 {
  display: flex;
  margin-left: 15px;
}
.footer2 {
  width: 85%;
  height: 50%;
  margin-left: 7%;
}
.social-media {
  width: 20%;
  height: 100%;
  margin-left: 15%;
  text-align: right;
}
.social-media p {
  font-family: "Roboto-Regular", sans-serif;
  padding-top: 10%;
  color: white;
}
.social-media1 {
  display: flex;
  margin-left: 50%;
}
.social-icon {
  display: inline-flex;
  justify-content: center;
}
.footer2 {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.footer2 img {
  height: 60%;
  width: auto;
}
